div.menus {
    margin: 10px;
    border: none;
    float: left;
    width: 200px;
    height: 300px;
  }
  div.menus img {
    width: 100%;
    height: auto;
  }
  div.menu-name {
    padding: 5px;
    font-weight: 300;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }



#wrapper {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    grid-auto-rows: minmax(100px, auto);
    float:left;
}