body{
    background-color:whitesmoke;
  }
  #header{
    width:auto;
    background-color: white;
    border: 2px white;
    position:relative;
}
.navbar{
    margin:0;
    /*height: 45px; /*set height of navbar*/
    background: rgba(255, 255, 255, 0.3);
  }
  @media (min-width: 800px) and (max-width: 850px) { /* set features of nav bar when it collapses */
    .navbar:not(.top-nav-collapse) {
      background: black !important;
      height: 45px;
    }
  }
  #brand-name{
      color:black;
      font-size:40px;
  }
  .nav-link {
    color:black !important;
    font-weight:bold;
    z-index: 99999;
    }
    .navbar input[type="text"] {
        padding: 6px;
        border: none;
        font-size: 17px;
        width: 100%;
      }

      .navbar {
        padding: 10px;
        box-shadow: 0px 2px 10px;
        z-index: 99999;
      }
      .navbar ul {
        text-align: center;
        padding-left: 0px;
      }
      .navbar ul li {
        display: inline-block;
      }
      .navbar ul li a {
        color: white;
        font-family: Arial;
        text-decoration: none;
        font-weight: bold;
        padding: 15px;
        z-index: 99999;

      }
      .navbar ul li ul {
        display: none;
        z-index: 99999;

      }
      .navbar ul li:hover ul {
        display: block;
        position: absolute;
        padding: 0px;
        background: white;
        padding: 10px;
        border: 1px solid black;
        z-index: 99999;
      }
      .navbar ul li:hover ul li {
        display: block;
        z-index: 99999;
      }
      .navbar ul li:hover ul li a {
        color: black;
        z-index: 99999;
      }

      .searchbar {
        width: 15%;
        color:black;
        font-weight:bold;
      }
      
      .features{
        font-weight:bold;
      }
      #socials {
        text-align: center;
        font-weight:bold;
      }
      
