<app-carousel [items]="items.data"></app-carousel>
<h4>Popular cuisines</h4>
<p class="features">The cuisines featured include:</p>
<div class="container-fluid" id="wrapper">
    <div style="text-align: center" *ngFor="let item of popularMenus.data">
        <a target="_blank" [href]="item.thumbnail_url">
            <img [src]="item.thumbnail_url" width="250" height="200" />
        </a>
        <p class="menu-name"> {{ item.name }}</p>
    </div>
</div>

<div class="container-fluid" id="socials">
    <span><i class="fab fa-facebook icon_facebook" style="font-size:30px"></i></span>
    <span><i class="fab fa-twitter" style="font-size:30px"></i></span>
    <span><i class="fab fa-instagram icon_instagram" style="font-size:30px"></i></span>
    <div class="bottom-left"> &copy; 2021. EatBite. All Rights Reserved.</div>
</div>