<app-carousel [items]="items.data"></app-carousel>

<div class="container-fluid" id="wrapper" >
    <div style="text-align: center" *ngFor="let item of popularMenus.data">
        <a target="_blank" [href]="item.thumbnail_url">
            <img [src]="item.thumbnail_url" width="250" height="200" />
        </a>
        <p class="menu-name"> {{ item.name }}</p>
    </div>
</div>
<div class="container-fluid" id="cuisine">
    <h4>Popular Cuisines</h4>
    <p class="features">The cuisines featured include:</p>
    <div id="menu">
        <!--Carousel Wrapper-->
        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                <li data-target="#multi-item-example" data-slide-to="1"></li>
                <li data-target="#multi-item-example" data-slide-to="2"></li>
                <li data-target="#multi-item-example" data-slide-to="3"></li>
                <li data-target="#multi-item-example" data-slide-to="4"></li>
            </ol>
            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <!--First slide-->
                <div class="carousel-item active">
                    <div class="col-md-4">
                        <div class="card md-2" id="card0">
                            <img src="assets/images/burger1.jpg" class="card-img-top" alt="bbqbeef" style="height: 16rem;">
                            <div class="card-body" style="height: 5rem;">
                                <h5 class="card-title">Burgers</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card md-2" id="card1">
                            <img src="assets/images/african1.jpg" class="card-img-top" alt="bbqc" style="height: 16rem;">
                            <div class="card-body" style="height: 5rem;">
                                <h5 class="card-title">African</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" id="card2">
                            <img src="assets/images/chinese1.jpg" class="card-img-top" alt="bbqpork" style="height: 16rem;">
                            <div class="card-body" style="height: 5rem;">
                                <h5 class="card-title">Chinese</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.First slide-->

                <!--Second slide-->
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card md-2" id="card3">
                            <img src="assets/images/italian2.jpg" class="card-img-top" alt="chicken-tikka" style="height: 16rem;">
                            <div class="card-body" style="height: 5rem;">
                                <h5 class="card-title">Italian</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card md-2" id="card4">
                            <img src="assets/images/mex1.jpg" class="card-img-top" alt="gamberi" style="height: 16rem;">
                            <div class="card-body" style="height: 5rem;">
                                <h5 class="card-title">Mexican</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card md-2" id="card5">
                            <img src="assets/images/seafood3.jpg" class="card-img-top" alt="grilledpork" style="height: 16rem;">
                            <div class="card-body" style="height: 5rem;">
                                <h5 class="card-title">Seafood</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Second slide-->
            
                <!--Third slide-->
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card md-2" id="card6">
                            <img src="assets/images/spanish1.jpg" class="card-img-top" alt="hawaiian" style="height: 16rem;">
                            <div class="card-body" style="height: 5rem;">
                                <h5 class="card-title">Spanish</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card md-2" id="card7">
                            <img src="assets/images/veg1.jpg" class="card-img-top" alt="margharita" style="height: 16rem;">
                            <div class="card-body" style="height: 5rem;">
                                <h5 class="card-title">Vegeterian</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card md-2" id="card7">
                            <img src="assets/images/indian.jpg" class="card-img-top" alt="margharita" style="height: 16rem;">
                            <div class="card-body" style="height: 5rem;">
                                <h5 class="card-title">Indian</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.Third slide-->
            </div>
            <!--/.Slides-->
        </div>    <!--/.Carousel Wrapper-->
    </div>
</div>

<div class="container-fluid" id="socials">
    <span><i class="fab fa-facebook icon_facebook" style="font-size:30px"></i></span>
    <span><i class="fab fa-twitter" style="font-size:30px"></i></span>
    <span><i class="fab fa-instagram icon_instagram" style="font-size:30px"></i></span>
    <div class="bottom-left"> &copy; 2021. EatBite. All Rights Reserved.</div>
</div>